<form method="post" action="{{ path('suggestion_delete', {'id': suggestion.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cette entrée ? L'opération est irréversible.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suggestion.id) }}">
    <button class="btn btn-sm btn_delete">Supprimer</button>
</form>
