* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Paramètres barres navigation */

/* Navbar 1 */
.top_bar {
    padding-top : 10px;
    padding-bottom : 10px;
    font-size: 16px;
}

.navbar_1 a {
    color: #ffffff;
    text-decoration: none;
}

.navbar_1 a:hover{
    color: #CC9CE7;
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* Navbar 2 */
.menu_border {
    border-top: 2px solid #7C2BA8;

}

.main_navbar{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.main_navbar:hover{
    color: #DA6A0D;
    font-weight: bold;
}


.nav_option{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.nav_option:hover {
    color: #DA6A0D;
} 


/* Paramètres texte */



body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    color: #AD6BD1;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Lora', serif;
    color: #9247BB;
}

h3 {font-family: 'Lora', serif;
    color: #7C2BA8;
}

h4 {
    font-family: 'Lora', serif;
    color: #AD6BD1; 
    text-transform: capitalize;
  
}

h5 {
    font-family: 'Lora', serif;
    color: #631091; 
}

a {color: #9247BB;}

a:hover {
    color: #CC9CE7;
    text-decoration: none;
}

.middle-text{font-size: 98%;}

.small-text{font-size: 90%;}

.smaller-text{font-size: 40%;}

.header {font-size: 95%;}

blockquote {
    font-family: 'Lora', serif;
    font-weight: bold;
}

figcaption {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
}

.titre_margin{margin-top: 20px;}

/* Affichage */

.color_border {border-bottom: 2px solid #FFA357;}

.card_opacity {opacity: 0.9;}

.border_article {border-color: #9247BB;}

ul {
    list-style: none;
}

.margin-top {margin-top: 15px;}
  

/* Images */

.image_margin {margin-top: 10%;}

.miniImage{
    margin:auto;
    text-align: center;
    height: 50px;
    width: auto;

}

.imageLivre{
    max-width: 300px;
    height: auto;

}

.image_nouveautes{
    max-height: 200px;
    width:auto;
}

/* CSS pagination */

.pagination{
    justify-content: center;
}

.pagination > li > a,
.pagination > li > span{
    color: black;

}

/* Paramètres boutons */

.margin{ 
    margin-top: 5px;
    margin-bottom: 5px;
}


.create_btn{
    border: 1px solid #FB8F35;
    color: #FB8F35;
    font-weight: bold;
    text-transform: uppercase;
}

.create_btn:hover{
    background-color:  #FB8F35;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

}

.show_btn{
    border: 1px solid #9247BB;
    color: #9247BB;
    font-weight: bold;
    text-transform: uppercase;
}

.show_btn:hover{
    background-color: #9247BB;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.edit_btn, .save_btn{
    border: 1px solid #088383;
    color: #088383;
    font-weight: bold;
    text-transform: uppercase;
}

.edit_btn:hover, .save_btn:hover{
    background-color: #088383;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_delete{
    border: 1px solid #ce1818;
    color: #ce1818;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_delete:hover{
    background-color: #ce1818;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.emprunt_btn{
    border: 1px solid #9247BB;
    color: #9247BB;
    font-weight: bold;
    text-transform: uppercase;
    
}
.emprunt_btn:hover{
    border: 1px solid #9247BB;
    color: #9247BB;
    font-weight: bold;
    text-transform: uppercase;
    
}

.favori_btn {
    border: 1px solid #FB8F35;
    color: #FB8F35;
    font-weight: bold;
    text-transform: uppercase;
}

.favori_btn:hover {
    background-color: #FB8F35;
    color:  #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.annul_favori_btn {
    border: 1px solid #DA6A0D;
    color: #DA6A0D;
    font-weight: bold;
    text-transform: uppercase;
}

.annul_favori_btn:hover {
    background-color: #DA6A0D;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

/* Bouton top */

#TopBtn {
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #631091; 
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 4px; 
    font-size: 24px; 
}
  
#TopBtn:hover {background-color: #9247BB;}


/* Bouton retour */
.alignement{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

