{% extends 'base.html.twig' %}

{% block title %}Edition de la réservation{% endblock %}

{% block body %}
    <h1>Edition de la réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('librarian_profile') }}">Retour à votre profil</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
