{% extends 'base.html.twig' %}

{% block title %}Bibliothèque Atlantide - Conditions générales d'utilisation{% endblock %}

{% block body %}
  
    <div class="jumbotron jumbotron-fluid" style="background-image:url('{{ absolute_url(asset("images/pexels-cottonbro-cgu.jpg")) }}')">
        <div class="container">
            <div class="card d-inline-flex card_opacity">
                <div class="card-body">
                    <h1 class="display-4">Conditions générales d'utilisation</h1>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-justify">

            {# CGU #}

            <h3>ARTICLE 1 : Objet</h3><br/>

            <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site Bibliothèque Atlantide et de ses services.</p>

            <p>Les présentes CGU sont accessibles sur le site à la rubrique «Conditions Générales d'Utilisation».</p>

            <p>Ce contrat est conclu entre :</p>
            <ul>
                <li>Le gérant du site internet, ci-après désigné « l’Éditeur »,</li>

                <li>Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».</li>
            </ul>

            <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</p>

            <p> Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur.</p>

            <p>Lors de l'inscription sur le site via le formulaire d’inscription, chaque utilisateur doit accepter expressément les présentes CGU en cochant la case précédant le texte suivant :</p> 
            <p>« J'accepte les CGU ».</p>
            <p>En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</p><br/>


            <h3>ARTICLE 2 : Mentions légales</h3><br/>

            <p>Le site Bibliothèque Atlantide  est édité par Céline CHEUNG, domiciliée à Vitry sur Seine (Val de Marne).</p>

            <p>La bibliothèque municipale Atlantide est un service de la direction des affaires culturelles de la ville de Vitry-sur-Seine.</p>
            <p>Ce site internet est le site officiel de la bibliothèque municipale d'Atlantide. Il comprend un site générique.</p><br/>

            <h3>ARTICLE 3 : Accès aux services</h3><br/>

            <p>L’Utilisateur du site Bibliothèque Atlantide a accès aux services suivants :<p>
            <ul>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Recherche de documents</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Visualisation des actualités</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Visualisation des sélections documentaires</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Visualisation des nouveautés documentaires</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Contact de la bibliothèque via le formulaire spécifique à la rubrique "Nous contacter"</li>

            </ul>
            <p>Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</p>

            <p>Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de ses identifiants de connexion) : </p>
            <ul>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Emprunt de documents en ligne</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Suggestions d'achats de documents</li>
                
            
            </ul>
            
            <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p><br/>


            <h3>ARTICLE 4 : Responsabilité de l’Utilisateur</h3><br/>

            <p>L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe.</p> 

            <p>Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.</p>

            <p>L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site Bibliothèque Atlantide. </p>

            <p>Tout usage du service par l’Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l’objet d’une indemnisation au profit du site.</p>

            <p>Le site permet à l’Utilisateur attitré au role de Bibliothécaire de publier sur le site :
            </p>
            <ul>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Documents du fonds de la bibliothèque</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Articles d'actualité</li>
            </ul>

            <p>L’Utilisateur attitré au role de Bibliothécaire peut également effectuer les actions suivantes :
            </p>
            <ul>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Valider ou refuser les demandes de prêt</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Valider ou refuser les demandes de suggestion d'achats</li>
            </ul>

            <p>Le bibliothécaire s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification.</p>

            <p>En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.</p>

            <p>L’Éditeur s'engage toutefois à citer le bibliothécaire en cas d’utilisation de  sa publication.</p><br/>


            <h3>ARTICLE 5 : Responsabilité de l’Éditeur</h3><br/>

            <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.</p>

            <p>De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

            <p>Le site Bibliothèque Atlantide s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.</p>

            <p>L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.</p>

            <P>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site Bibliothèque Atlantide ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.</p><br/>

            <h3>ARTICLE 6 : Propriété intellectuelle</h3><br/>

            <p>Les contenus du site Bibliothèque Atlantide (logos, textes, éléments graphiques, vidéos, etc.) son protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>

            <p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.</p>

            <p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.</p>

            <p>L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.</p>

            <p>L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.</p><br/>


            <h3>ARTICLE 7 : Données personnelles</h3><br/>

            <p>L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.</p> 

            <p>L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Bibliothèque Atlantide pour la communication d’informations diverses et la gestion du compte.</p>

            <p>Bibliothèque Atlantide garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>

            <p>Le site est déclaré auprès de la CNIL sous le numéro suivant : XXXXXX.</p>

            <p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :</p>
            <ul>

                <li><i class="fa fa-chevron-circle-right mr-3"></i>Un formulaire de contact</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Son compte personnel</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Par mail à biblioatlantide@gmail.com</li>
                <li><i class="fa fa-chevron-circle-right mr-3"></i>Par voie postale au Bibliothèque municipale Atlantide, 36 avenue Maximilien Robespierre, 94400 Vitry-sur-Seine</li>
            </ul>

            <p>Les contacts du site sont gérés par formulaire électronique. La plupart des informations demandées sont obligatoires (nom, courriel...). Ces informations sont collectées dans le seul but de répondre à la demande.Il n'est procédé à aucun archivage de ces données.</p>

            <p>Les adresses électroniques ou autres informations nominatives ne sont recueillies sur ce site qu'à la suite de la communication volontaire de l'Utilisateur, ces données n'étant utilisées que pour l'envoi de la réponse que l'Utilisateur attend.</p><br/>


            <h3>ARTICLE 8 : Les cookies</h3><br/>

            <p>Vous êtes informé que lors de vos visites sur le site, un cookie peut s’installer automatiquement sur votre logiciel de navigation. Le cookie est un bloc de données qui ne permet pas de vous identifier en tant qu’utilisateur mais qui permet d’enregistrer des informations relatives à votre navigation sur le site. Vous pouvez trouver plus de renseignements dans notre <a href="{{ path('politique_confidentialite')}}">politique de confidentialité</a>.</p>

            <P>En naviguant sur le site, L’Utilisateur les accepte.</p>
            <P>L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

            <p>Ce site utilise Matomo, plateforme d'analyse de site internet. Cette platforme utilise des cookies, fichiers texte placés sur votre ordinateur, permettant l’analyse de l’utilisation du site par ses utilisateurs. Matomo utilisera cette information dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’internet.</p>

            <p>Vous pouvez désactiver l’utilisation des cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l’utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Matomo dans les conditions et pour les finalités décrites ci-dessus.</p> <br/>


            <h3>ARTICLE 9 : Liens hypertextes</h3><br/>

            <p>Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de Bibliothèque Atlantide, qui n’a pas de contrôle sur ces liens.</p>

            <p>Il est possible pour un tiers de créer un lien vers une page du site Bibliothèque Atlantide sans autorisation expresse de l’éditeur.</p><br/>


            <h3>ARTICLE 10 : Évolution des conditions générales d’utilisation</h3><br/>

            <p>Le site Bibliothèque Atlantide se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p><br/>


            <h3>ARTICLE 11 : Durée du contrat</h3><br/>

            <p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</p><br/>


            <h3>ARTICLE 11 : Droit applicable et juridiction compétente</h3><br/>

            <p>Le présent contrat dépend de la législation française. 
            En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux français sont compétents pour régler le contentieux.</p>



        </div>

        
        <div class="alignement">
            <a class="btn show_btn mt-4" href="{{ path('accueil') }}"><i class="fa fa-arrow-left mr-3"></i>Retour à l'accueil</a>
        </div>

    </div>
{% endblock %}