{% extends 'base.html.twig' %}

{% block title %}Bibliothèque Atlantide - Mentions légales{% endblock %}

{% block body %}
    
    <div class="jumbotron jumbotron-fluid" style="background-image:url('{{ absolute_url(asset("images/pexels-cottonbro-mentions-legales.jpg")) }}')">
        <div class="container">
            
            <div class="card d-inline-flex card_opacity">
                <div class="card-body">
                    <h1 class="display-4">Mentions légales</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-justify">

            

            <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site <a href="{{ url('accueil') }}">Bibliothèque Atlantide </a> les présentes mentions légales.</p>

            <p>La connexion et la navigation sur le site Bibliothèque Atlantide par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
            Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
            <br/>

            <h3>Informations légales</h3> <br/>
 
            <h4>Editeur du site</h4> <br/>
            
            <p>Ce site appartient à la bibliothèque Atlantide. Toute reproduction est soumise à autorisation explicite de l'établissement.</p>

            <p>Directrice de la publication : Céline CHEUNG</p>

            <ul>
                <li>Bibliothèque Atlantide</li>
                <li>36 avenue Maximilien Robespierre</li>
                <li>94400 Vitry-sur-Seine</li>
                <li>France</li>
                <li>Tél. : + 33 10 87 06 42 11</li>
            
                <li>URL : <a href="https://www.biblio-atlantide.fr"></a>www.biblio-atlantide.fr</li>

            </ul> <br/>

            <h4>Réalisation et crédits</h4> <br/>

            <p>Ce site a été réalisé par Céline CHEUNG (Email: biblioatlantide@gmail.com) concernant la réalisation technique et la charte graphique.</p>

            <p>L'hébergement est assuré par EvxOnline appartenant à la SARL Wevox dont les coordonnées sont les suivantes:<p>
            <ul>
                <li>Wevox SARL</li>
                <li>3 rue de Franche Comté</li>
                <li>CS 50311</li>
                <li>50103 Cherbourg en Cotentin</li>
                <li>Tel : 0899.492.350</li>
                <li>Email : contact@evxonline.com</li>
            </ul>
            <br/>

            <h4>Crédits photographiques</h4> <br/>

            <p>La plupart des photographies proviennent du site Pexels qui met à disposition des images gratuites et libres de droits.</p>

            <p>Voici la liste des créateurs des photos :</p>
            <ul>
                <li>cottonbro</li>
                <li>Scott Webb</li>
                <li>Suzy Hazelwood</li>
                <li>Ono Kosuki</li>
                <li>George Milton</li>
                <li>Kampus Production</li>
                <li>Ron Lach</li>
                <li>Erik Mclean</li>
            </ul> <br/>

            <p>Le logo de la bibliothèque a été édité par Céline CHEUNG sur le site Free Logo Design accessible sur <a href="https://fr.freelogodesign.org/">fr.freelogodesign.org</a>.</p>

            <p>Le logo servant de favicon du site a été crée par <a href="https://www.flaticon.com/free-icons/book" title="book icons">Freepik</a> sur le site <a href="https://www.flaticon.com/">Flaticon.com</a>.</p> <br/>


            <h3>Traitement des données </h3> <br/>

            <p>Pour utiliser les services accessibles depuis le site, les internautes utilisent leur email et mot de passe.</p>

            <p>Les adresses électroniques ou autres informations nominatives ne sont recueillies sur ce site qu'à la suite de votre communication volontaire, ces données n'étant utilisées que pour l'envoi de la réponse que vous attendez. Il n'est procédé à aucun archivage de ces données.</p>

            <p>Vous disposez, conformément aux dispositions de la loi "informatique et libertés" du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel), d'un droit d'accès, de rectification et de suppression concernant les données qui vous concernent. Vous pouvez également exercer ce droit en nous contactant par email à biblioatlantide@gmail.com</p> <br/> 

            <h3>Informations et exclusion</h3>  <br/>

            <p>La bibliothèque Atlantide met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de son site internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de la bibliothèque Atlantide, et signaler toutes modifications du site qu'il jugerait utile. La bibliothèque Atlantide n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler. Si l'internaute constate une lacune, erreur ou ce qui parait être un dysfonctionnement, il convient de le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé…) en choisissant la rubrique "dysfonctionnement" via le formulaire de contact.</p> <br/>


            <h3>Droit d'auteur</h3> <br/>

            <p>Le présent site web et l'ensemble de son contenu, y compris les textes, images fixes ou animées, bases de données, programmes, etc, est protégé par le droit d'auteur.</p>

            <p>Conformément à l'article L. 122-4 du Code de la propriété intellectuelle française, il est interdit de reproduire, copier, modifier, transmettre, diffuser de toute manière que ce soit, même partiellement, sur tout type de support, tout élément provenant de ce site (par exemple, mais non exclusivement : textes, logos, images, éléments sonores, vidéos, logiciels, icônes) sans l'autorisation préalable de la ville de Vitry-sur-Seine.</p>


            <p>Les illustrations de documents proviennent du site Decitre.</p> <br/>


            <h3>Reproduction à des fins personnelles </h3> <br/>

            <p>Conformément à l'article L. 122-5, alinéa premier, du Code de la propriété intellectuelle, la reproduction d'un élément du site à des fins personnelles et pour un usage privé est autorisée.</p> <br/>

            <h3>Avertissement concernant les liens </h3> <br/>

            <p>Le présent site Internet peut fournir des liens ou des références à d'autres sites mais la ville de Vitry-sur-Seine n'est pas responsable de la teneur des dits autres sites, et ne sera tenue responsable d'aucun dommage ou préjudice en découlant.
            L'éditeur se réserve le droit de demander la suppression d'un lien qu'il estime non conforme à la ligne éditoriale.</p> <br/>

            <h3>Cookies</h3> <br/>

            <p>Vous êtes informé que lors de vos visites sur le site, un cookie peut s’installer automatiquement sur votre logiciel de navigation. Le cookie est un bloc de données qui ne permet pas de vous identifier en tant qu’utilisateur mais qui permet d’enregistrer des informations relatives à votre navigation sur le site. Vous pouvez trouver plus de renseignements dans notre <a href="{{ path('politique_confidentialite')}}">politique de confidentialité</a>.</p>

            <p>Le gestionnaire de cookie est "Tarte au citron", accessible sur <a href="https://tarteaucitron.io/fr/">tarteaucitron.io/fr</a>. Il s'agit d'un logiciel open source qui respecte la RGPD. La durée de conservation des données est de 13 mois maximum. L'Utilisateur peut aussi supprimer manuellement cette durée de conservation.</p> <br/>


            <h3>Litiges</h3> <br/>

            <p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend la ville de Vitry-sur-Seine. La langue de référence, pour le règlement de contentieux éventuels, est le français. </p> <br/>
            
            <h4>Déclaration à la CNIL</h4> <br/>

            <p>Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr). </p> <br/>

            <h4>Avertissement</h4> <br/>

            <p>La bibliothèque Atlantide est fictive et ce site a été élaboré dans le cadre d'un projet personnel.</p> <br/>


          
    
        </div>

        
        <div class="alignement">
            <a class="btn show_btn" href="{{ path('accueil') }}"><i class="fa fa-arrow-left mr-3"></i>Retour à l'accueil</a>
        </div>

    </div>
{% endblock %}