{% extends 'base.html.twig' %}

{% block title %}Bibliothèque Atlantide - Suggestion d'achat{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid" style="background-image:url('{{ absolute_url(asset("images/pexels-cottonbro-suggestion.jpg")) }}')">
        <div class="container">
            <div class="card d-inline-flex card_opacity">
                <div class="card-body">
                    <h1 class="display-4">Suggestion d'achat</h1>
                </div>
            </div> 
        </div>
    </div>
    <div class="container">

        <h2 class="pb-2 color_border" style="color: #7C2BA8;">Conditions</h2>


        <p class="mt-4 mb-4 text-justify">Les bibliothécaires sont attentifs à la production éditoriale et préparent régulièrement des commandes. Néanmoins, si vous souhaitez lire un livre, regarder un film, écouter un album de musique... et que vous ne le trouvez pas dans notre catalogue, vous pouvez nous suggérer de l'acheter.</p>

        <p class="text-justify">Vous devez vous connecter à votre compte afin de procéder à une demande d'achat grâce à un formulaire à compléter. Merci de bien vouloir vous identifier en cliquant sur le bouton ci-dessous.</p>

        <div class="text-center">
            <a class="btn create_btn" href="{{ path('app_login') }}">Connexion compte<i class="fa fa-sign-in ml-2"></i></a>
        </div>

        <p class="text-justify mt-4">Nous attirons votre attention sur le fait que l'achat de documents entre dans le cadre d'une politique documentaire plus générale. Nous nous réservons ainsi le droit d'acheter ou ne pas acheter le document. Nous sommes par ailleurs tributaires de certains délais (circuit de commande, livraison, équipement des documents...). Nous ne pouvons donc pas vous garantir une date précise de mise en circulation.</p>

        

        <div class="alignement">
            <a class="btn show_btn mt-4" href="{{ path('accueil') }}"><i class="fa fa-arrow-left mr-3"></i>Retour à l'accueil</a>
        </div>



       
      

    </div>

{% endblock %}
