<!DOCTYPE html>
<html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">

        <title>Bienvenue à la bibliothèque Atlantide !</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #CBB0DB;
                font-family: Helvetica, Arial, sans-serif;
            }

            .container {
                background-color: #fefefe;
                width: 580px;
                margin: 0 auto;
            }

            .block {
                margin: 0;
                padding: 10px 20px 20px 20px;
                text-align: justify;
            }

            h1 {
                background-color: #81519D;
                color: #ffffff;
                padding: 30px 0 50px 0;
                font-weight: normal;
                font-family: 'Montserrat', sans-serif;
            }

            .text-center {
                text-align: center;
            }

            .flex {
                display:flex;
                align-items:center;
                justify-content:center;
            }
        </style>
                
        
        {# Police Montserrat #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
            
    
    </head>
    <body>
        <div class="container">

            <div class="flex">
                <div>
                    <img src="http://127.0.0.1:8000/images/logo-biblio-atlantide2.png" class="logo" alt="Logo de la bibliothèque Atlantide">
                </div>
            </div>

            <div class="content">
                <h1 class="text-center">Confirmation d'inscription à la bibliothèque Atlantide</h1>

                <h2 class="block">Bonjour,</h2>

                <p class="block">Notre équipe vous souhaite la bienvenue à la <strong>bibliothèque Atlantide</strong></p>

                <p class="block">Vous vous confirmons votre inscription sur votre compte en ligne à la bibliothèque et vous remercions de votre intéret. Nous vous recommandons de garder ce mail dans vos archives.</p>
                <p class="block">Afin de pouvoir bénéficier des services de la bibliothèque, il vous faudra finaliser votre inscription en nous faisant parvenir votre justificatif de domicile, votre carte d'identité et votre justificatif selon votre situation professionelle.</p>
                <p class="block">Vous trouverez la liste des documents à fournir sur la rubrique "informations pratiques" du site.</p>
                <p class="block">Quand votre inscription sera finalisée et validée par nos bibliothècaires, vous recevrez votre carte d'emprunt. Cette carte est à utiliser pour tous les emprunts.</p>
                <p class="block">Vous pouvez désormais commencer à consulter notre catalogue et emprunter les ouvrages qui vous intéressent.</p>
                <p class="block">Pour vous connecter à votre compte, merci de cliquer sur le bouton "connexion" située au haut à droite sur la barre de naivagtion. </p>
                <p class="block">Pour nous contacter, envoyez un message via le formulaire sur la rubrique "contact" du site</p>
                <p class="block">Nous vous souhaitons une bonne visite sur notre site.</p>
                <p class="block">Cordialement,</p>
                <p class="block">L'équipe de la bibliothèque Atlantide</p>
            </div>
            
        </div>


    </body>


</html>