<h1>Nouveau contact</h1>

<p>Voici le contenu du message:</p>
<p>Nom : {{ contact.nom }}</p>
<p>Email : {{ contact.email }}</p>
<p>Sujet : {{ contact.sujet }}</p>
<p>Message : {{ contact.message|raw }}</p>